<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Error</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="/assets/vendors/iconfonts/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/assets/vendors/iconfonts/ionicons/css/ionicons.css">
	<link rel="stylesheet" href="/assets/vendors/iconfonts/typicons/src/font/typicons.css">
	<link rel="stylesheet" href="/assets/vendors/iconfonts/flag-icon-css/css/flag-icon.min.css">
	<link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
	<link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.addons.css">
	<link rel="stylesheet" href="/assets/vendors/iconfonts/font-awesome/css/font-awesome.min.css" />
	<!-- endinject -->
	<!-- plugin css for this page -->

	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<link rel="stylesheet" href="/assets/css/shared/style.css">
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="/assets/css/shared/dashboard-style.css">
	<!-- End Layout styles -->
	<link rel="shortcut icon" href="/img/logo/blue_square_logo.svg" />

	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="/script/clientLib.js"></script>
</head>

<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<%- include ("../../partials/_navbar.ejs") %>



			<!-- partial -->
			<div class="container-fluid page-body-wrapper">
				<!-- partial:partials/_sidebar.html -->
				<%- include ("../../partials/_sidebar.ejs") %>



					<!-- partial -->
					<div class="main-panel">
						<div class="content-wrapper">
							<!-- Page Title Header Starts-->
							<div class="row page-title-header">
								<div class="col-12">
									<div class="page-header">
										<h4 class="page-title">Sessions</h4>
										<div class="quick-link-wrapper w-100 d-md-flex flex-md-wrap">

										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="page-header-toolbar">

										<div class="sort-wrapper">
											<!--									<form action="/table" method="get">-->
											<button type="submit" class="btn btn-secondary toolbar-item"
												onclick="javascript:history.go(-1)">Back
											</button>
											<!--									</form>-->
										</div>




									</div>
								</div>
							</div>
							<!-- Page Title Header Ends-->

							<!--
					    <div id="join" class="w3-modal">
        <div class="w3-modal-content w3-animate-zoom">
            <div class="w3-container w3-black w3-display-container">
                <span onclick="document.getElementById('join').style.display='none'"
                    class="w3-button w3-display-topright w3-large">x</span>
                <h1>Enter Session number and password</h1>
            </div>

            <div class="w3-container">
                <form action="/session_note" method="post">
                    <label for="session_number">Session number</label>
                    <input type="number" placeholder="session" id="session" name="session">

                    <label for="access_code">Password</label>
                    <input type="password" placeholder="access_code" id="access_code" name="access_code">

                    <input type="Submit" class="noselect" value="Join"></input>
                </form>
            </div>
        </div>
    </div>
-->



							<div class="row">


								<div class="col-lg-12 grid-margin stretch-card">

									<div class="card">
										<div class="card-body">
											<h4 class="card-title">Error</h4>
											<p class="card-description"><i class="fa fa-info"></i>&nbsp;&nbsp;Session not ready or already ended, check with the speaker or try again later.</p>
												<button id="submit_button" type="submit"
													class="btn btn-primary col-sm-12" onclick="javascript:history.go(-1)">Back</button>
										</div>
									</div>
								</div>






							</div>
						</div>
					</div>







			</div>
			<!-- content-wrapper ends -->
			<!-- partial:partials/_footer.html -->
				<%- include ("../../partials/_footer.ejs") %>
			<!-- partial -->
	</div>
	<!-- main-panel ends -->
	</div>
	<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<%- include ("../../partials/_plugins_js.ejs") %>
	<!-- endinject -->
	<!-- Plugin js for this page-->
	<!-- End plugin js for this page-->
	<!-- inject:js -->
	<script src="/assets/js/shared/off-canvas.js"></script>
	<script src="/assets/js/shared/misc.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="/assets/js/shared/dashboard.js"></script>
	<!-- End custom js for this page-->




</body>


</html>