/*body {background-color:#2d2d2d;}*/

#timedate {
/*  font: small-caps lighter 43px/150% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;*/
  text-align:left;
  width: 50%;
/*  margin: 40px auto;*/
  color:#fff;
  border-left: 3px solid #fff;
  padding: 20px;
}

#clock_element{
  color:white;
  font:43px/150%;
}